.flavour-div {
	margin: 20px;
}
.list-group {
	align-self: center;
	justify-self: center;
	list-style-type: none;
}

.flavours {
	padding: 0;
	margin: 2px;
}

.coffee-flavour-div {
	display: flex;
	flex-direction: row;
}

.coffee-flavour-div p {
	margin: 0px 0px 5px 5px;
}
