.row {
	margin: 0;
}
.flavour-div {
	min-height: 100px;
	padding: 0% 20%;
	align-items: center;
}

#first-type {
	margin-top: 20px;
}

.list-group {
	list-style-type: none;
	flex-wrap: wrap;
}

.flavours {
	padding: 0;
	margin: 5px 10px;
	width: 120px;
}

.coffee-flavour-div {
	display: flex;
	align-self: flex-start;
}

.coffee-flavour-div button {
	width: 100%;
}
